name: checkout-build-run-docker demon
on: 
  workflow_dispatch:
jobs:
  echo:
    runs-on:  [self-hosted, linux, x64]
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Stop and remove existing container
        run: |
             CONTAINER_NAME=signalr-template-container
             RUNNING_CONTAINER_ID=$(docker ps -aq -f "name=$CONTAINER_NAME")
             if [ ! -z "$RUNNING_CONTAINER_ID" ]; then
              echo "Stopping and removing container: $RUNNING_CONTAINER_ID"
              docker stop "$RUNNING_CONTAINER_ID"
              docker rmi signalr-template
             else
              echo "No running container with name $CONTAINER_NAME found."
             fi
      - name: Build docker images
        run: | 
             docker build -t signalr-template -f Dockerfile .
             
      - name: Run docker
        shell: 'script -q -e -c "bash {0}"'
        run: |
          docker run --name signalr-template-container -d -p 5004:5004 --rm signalr-template
